.start {
font-weight: bolder;
color: darkgreen;
}
.izgoy {
font-weight: bolder;
color: greenyellow;
}
body {
font-weight: bolder;
background-image: url(images1/chmo.png);
}
.visota {
color: forestgreen;
}
.toper {
color: crimson;
}
.marderstart {
color: rgb(13, 50, 13);
}
.armory {
color: dodgerblue;
}
.armored {
color: lawngreen;
}
.engine {
color: darkred;
}
.history {
color: darkblue;
}
.history {
color: cornflowerblue;
}
.main1 {
color: brown;
}
.overline {
text-decoration: overline;
}
.walking {
color: blue;
}
.ArmoredFr {
color: chartreuse;
}
.sizeFr {
color: firebrick;
}
.historyFr {
color: darkgreen;
}
.overline {
color: darkred;
}
.armoryFr {
color: darkorange;
}
.modificationsFr {
color: forestgreen;
}
.form {
border: 200px;
}
.sizeBrit {
    color: darkblue;
    }
    .engineBrit {
    color: darkgreen;
    }
    .BritHistory {
    color: darkred;
    }
    .overline {
    text-decoration: overline;
    }
    .speed {
     color: green;
        }
        .mowagsize {
      color: firebrick;
            }
            .classifik {
                color: rgb(49, 29, 84);
                      }
                      .Bernarmory {
                      color: darkred;
                      }
                      .Bernarmored {
                          color: darkgreen;
                      }
                      .sovietarmory {
                      color: firebrick;
                      }
                      .sovietsize {
                   color: teal;
                      }
                      .sovietarmored {
                    color: darkgreen;
                      }
                      .soviethistory {
           color: indigo;
                      }
                      .engineSoviet {
                  color: blue;
                      }
                      .sizeChina {
                      color: darkgreen;
                      }
                      .armoredChina {
                      color: crimson;
                      }
                     .armoryChina {
                      color: navy;
                     }
                     .modificationsChina {
                      color: green;
                     }
                     .engineChina {
                      color: mediumblue;
                     }
                     .baseChina {
                      color: midnightblue;
                     }
                     .mainrussia {
                      color: green;
                     }
                     .sizeRussia {
                      color: navy;
                     }
                     .armoredRussia {
                     color: darkred;
                     }
                     .historyRussia {
                      color: crimson;
                     }
                     .armoryRussia {
                      color: forestgreen;
                     }
                     .toperEngine {
                      color: indigo;
                     }
                     .rusOverline {
                      border: 500px;
                      text-decoration: overline;
                     }
                     .ChinaOverline {
                      text-decoration: overline;
                     }
                     .overlineBrit {
                      text-decoration: overline;
                     }
                     .USAhistory{
                      color: darkblue;
                     }
                     .sizeUSA {
                      color: darkred;
                     }
                    .armoredUSA {
                    color: green;
                    }
                    .armoryUSA {
                    color: darkgreen;
                    }
                    .basedUsa{
                    color: coral;
                    }
                    .engineUSA {
                    color: crimson;
                    }
                    .burgeroverline {
                    text-decoration: overline;
                    }
                    .body {
                    text-align: center;
                    }
                    .SwedOverline {
                   text-decoration: overline;
                   color: cyan;
                    }
                    .SwedHistory {
                    color: darkgreen;
                    }
                    .SwedBase {
                   color: indianred;
                    }
                    .sizeSwed {
                    color: indigo;
                    }
                    .armorySwed {
                    color: darkred;
                    }
                    .armoredSwed {
                    color: forestgreen;
                    }
                    .engineSwed {
                    color: gray;
                    }
                    .KoreanEngine {
                    color: blue;
                    }
                    .KoreanHistory {
                    color: indigo;
                    }
                    .KoreanSize {
                    color: crimson;
                    }
                    .KoreanArmory {
                  color: darkgreen;
                    }
                    .KoreanArmored {
                    color: darkred;
                    }
                    .KoreanBase {
                    color: darkblue;
                    }
                    .KoreanTop {
                    text-decoration: overline;
                    }
                    .SizeGermany {
                    color: brown;
                    }
                    .ArmoredGermany {
                    color: crimson;
                    }
                    .ArmoryGermany {
                    color: blue;
                    }
                    .EngineGermany {
                    color: indigo;
                    }
                    .GermanyBase {
                    color: red;
                    }
                    .GermanyHistory {
                color: green;
                    }
                    .GermanyOverline {
                    text-decoration: overline;
                    }
                    .ded {
                    text-decoration: overline;
                    }
                  .fuh {
                  text-decoration: underline
                  }
                  .liner {
                  text-decoration: underline;
                  }
                  .form1 {
                  border: 2px solid;
                width: 250px;;
                height: 300px;
                  }
                  .form2 {
                  color: blue;
                  }
                  .form3 {
                  color: blueviolet;
                  }
                  .form4 {
                  color: crimson;
                  }
                  .form5 {
                  color: red;
                  }
                  .body {
                  box-sizing: border-box;
                  margin: 0;
                  padding: 0;
                  font-size: 18px;
                  }
                  nav {
                  border-bottom: 1px solid;
                 background-color: bisque;
                  display: flex;
                  position: relative;
                  }
                  nav .mobile-bar {
                  flex-direction: column;
                  justify-content: center;
                  align-items: center;
                  padding: 0.5em 1em;
                 display: none;
                  }
                  nav .mobile-bar span{
                  display: block;
                  height: 2px ;
                  width: 20px ;
                  margin: 2px ;
                  background: #888;
                  }
                  nav ul li a {
                    text-decoration: none;
                  display: inline-block;
                  color:black
                  }
                  nav ul {
                  list-style: none;
                  margin: 0;
                  padding: 0;
                  transition: ease 1s all;
                  }
                  nav ul li {
                  display: inline-block;
                  }
                  nav ul li a{
                  display: inline-block;
                  color: black;
                  text-decoration: none;
                  padding: 1em 0.5em;
                  }
                  nav ul li a:hover {
                  background: #e1e1e1;
                  }
                  @media (max-width: 480px) {
                  nav .mobile-bar {
                    display: flex;
                  }
                nav ul {
                opacity: 0;
                max-height: 0px;
                overflow: hidden;
                visibility: none;
                display: flex;
                position: absolute;
                left: 0;
                right: 0;
                top: 100%;
                flex-direction: column;
                margin-left: 100%;
                }
                nav ul.active {
                opacity: 1;
                min-height: 500px;
                right: 0px;
               margin-left: 0;
               background: #e1e1e1
                }
                nav ul:active li {
                  display: block;
                }
                  nav ul.active li a{
                    display: block;
                  }
                }
                .form2 {
                background-color: crimson;
                color: blue;
                }
                
                
                  

                  
                    
                    